<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/news.css">
    <title>News about Taylor Swift</title>
    <style>

    </style>
</head>
<body>
    <nav>
        <h1>World</h1>
        <ul>
            <li><a href="/entertenment">Entertainment</a></li>
            <li><a href="/Finance">Finance</a></li>
            <li><a href="/Jobs">Jobs</a></li>
            <li><a href="/Sports">Sports</a></li>
            <li><a href="/World">World</a></li>
            
        </ul>
    </nav>
    <ul>
        <% news.forEach(article => { %>
            <li>
                <% if (article.urlToImage) { %>
                    <img src="<%= article.urlToImage %>" alt="News Image">
                <% } %>
                
                <h2><%= article.title %></h2>
                <p><%= article.description %></p>
                <a href="<%= article.url %>" target="_blank">Read more</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
